.intro-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intro-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-details h1 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

.intro-details .status {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: var(--color-text-secondary);
    margin: 0.25rem 0 0 0;
}

.status .status-dot {
    width: 8px;
    height: 8px;
    background-color: var(--color-status-available); 
    border-radius: 50%;
}

.bio {
    color: var(--color-text-secondary);
    line-height: 1.6;
    font-size: 0.9rem; 
    margin: 1.5rem 0 0 0;
}

.profile-container {
    position: relative;
    flex-shrink: 0; 
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--color-border);
    box-shadow: 0 5px 25px var(--shadow-color);
    
    --glasses-tilt: -7deg; 
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-image {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.glasses {
    width: 30%;
    top: 22%;
    left: 41%;
    transform: rotate(var(--glasses-tilt)); 
}

.profile-container:hover .hover-image {
    opacity: 1;
}