@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* In styles/main.css */

:root {
    --color-background: #fdfaf5;
    --color-text: #2c251e;
    --color-text-secondary: #857461;
    --color-primary: #a1825c;
    --color-card: #ffffff;
    --color-border: #e3d9cd;
    --shadow-color: rgba(44, 37, 30, 0.07);
    --color-status-available: #22c55e;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1rem 1rem;
}

.container {
    max-width: 420px; 
    margin: 0 auto;
}